doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    title Express
  body 
    h1.title EXPRESS

    p.text Es el framework web más popular de Node, y es la librería subyacente para un gran número de otros frameworks web de Node populares. Proporciona mecanismos para:

    ul 
      li.item.text Escritura de manejadores de peticiones con diferentes verbos HTTP en diferentes caminos URL (rutas).

      li.item.text Integración con motores de renderización de "vistas" para generar respuestas mediante la introducción de datos en plantillas.

      li.item.text Establecer ajustes de aplicaciones web como qué puerto usar para conectar, y la localización de las plantillas que se utilizan para renderizar la respuesta.

      li.item.text Añadir procesamiento de peticiones "middleware" adicional en cualquier punto dentro de la tubería de manejo de la petición.

      p.text A pesar de que Express es en sí mismo bastante minimalista, los desarrolladores han creado paquetes de middleware compatibles para abordar casi cualquier problema de desarrollo web. Hay librerías para trabajar con cookies, sesiones, inicios de sesión de usuario, parámetros URL, datos POST, cabeceras de seguridad y muchos más. Puedes encontrar una lista de paquetes middleware mantenida por el equipo de Express en #[a(href="https://expressjs.com/es/resources/middleware.html").link Express Middleware] (junto con una lista de algunos de los paquetes más populares de terceros).

    p.text Fuente: #[a(href="https://developer.mozilla.org/es/").link https://developer.mozilla.org/es/]