//- html
//-   head
//-     title= title
//-   body
//-     h1= message

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    h1= title 
    h2 Mapa del sitio 
    ul 
      li 
        a ¿Qué es NODE?
