doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    title node
  body 
    p.text
      a(href=home).link Home 
      each link in path 
        if link!=="" 
          a(href=link).link= `/${link}` 

    h1.title NODE.JS

    p.text Node.js es un entorno de tiempo de ejecución de JavaScript que permite a los desarrolladores construir aplicaciones de servidor escalables y de alto rendimiento utilizando JavaScript en el lado del servidor. Node.js utiliza el motor V8 de Google Chrome para ejecutar JavaScript fuera del navegador.

    p.text Node.js es una buena solución para realizar tareas intensivas de datos o análisis en tiempo real, ya que tiene una arquitectura asincrónica y características de E/S sin bloqueo. 
    p.text A continuación se presentan algunos casos de uso comunes para Node.js:

    ul 
      li.item.text Desarrollo de aplicaciones de servidor: Node.js se utiliza comúnmente para construir aplicaciones de servidor, como aplicaciones web, API y servicios en línea.

      li.item.text Aplicaciones de tiempo real: Node.js es una buena opción para aplicaciones de tiempo real que requieren una comunicación bidireccional rápida entre el cliente y el servidor, como aplicaciones de chat y juegos en línea.

      li.item.text Automatización de tareas: Node.js se utiliza comúnmente para automatizar tareas en el flujo de trabajo de desarrollo, como la construcción de proyectos, la ejecución de pruebas y la implementación.

      li.item.text Streaming de datos: Node.js es una buena opción para aplicaciones que manejan grandes cantidades de datos en tiempo real, como transmisiones de video y audio.

      li.item.text Aplicaciones de Internet de las cosas (IoT): Node.js es una buena opción para desarrollar aplicaciones de IoT, ya que se ejecuta en sistemas con recursos limitados y puede manejar múltiples conexiones de dispositivos en tiempo real.

    p.text Fuente: #[a(href="https://developer.mozilla.org/es/").link https://developer.mozilla.org/es/]